form {
   display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.text-inputs-container {
    display:flex;
}

.text-inputs-container input { /*Text input style*/
    height: 60px;
    padding: 7px;
    margin: 10px;
    font-size:30px;
    border:3px solid #d5d5d5;
    border-radius: 3px;
    transition: border 0.2s, color 0.5s;
    color: #798086;
}

.text-inputs-container input:focus { /*Text input focusing style*/
    color: black;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.buttons-container {
    display:flex;
    justify-content: center;
    column-gap: 20px;
}
.button {
    width:10rem;
    height:4rem;
    font-size: 2.3rem;
    border:2px solid black;
    border-radius: 4px;
    color:white;
    transition: background-color 0.3s;
}

.button:disabled {
    background-color: #707070;
}

.button:disabled:hover {
    background-color: #707070;
}

.submit {
    background-color: #0000c4;
}
.submit:hover {
    background-color: #00007e;
}

.reset {
    background-color: #c40000;
}

.reset:hover {
    background-color: #8c0101;
}

.close {
    background-color: #707070;
    justify-self: center
}
.close:hover {
    background-color: #414141;
}